{% extends 'base_template.html' %}
{% load i18n %}
{% block title %}New post{% endblock %}
{% block head %}
<!--
<script src="/media/js/nicEdit.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
  bkLib.onDomLoaded(function() {
    new nicEditor({fullPanel : true}).panelInstance('id_content');
  });
//]]>
</script>
-->
{% endblock %}
{% block content_heading %}read at{% endblock %}
{% block content %}
	<h2>New Post</h2>
	<article>
	  <form action = "" method = "post" class = "blog-form">
		  {{ form.as_p }}		
		  <input type = 'submit' value = "{% trans 'Post'%}" />
		</form>
	</article>
{% endblock %}
{% block sidebar %}
{% endblock %}
